@import url( 'https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Nobile:700');
@import 'variables';

.quote-body{
  min-height: 705px;
  background: linear-gradient(to right, #00000066, #00000066, #00000066),url(/img/quote1.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 10em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-position-y: bottom;
}

q{
  padding-top: 4em;
  font-family: $ff-quote;
}

q:before {
  display: block;
  font-size: 1200%;
  content: open-quote;
  height: 1px;
  padding-top: 150px;
}

q:lang(en) {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

.quote{
  font-family: $ff-title;
  margin-bottom: 3em;
  margin-top: 3em;
  line-height: 1.5em;
}

.quote-author{
  font-family: "Playfair Display",serif;
  margin-bottom: .5em;
  width: auto;
  text-align: center;
}

.quote-name{
  font-family: "Playfair Display",serif;
  margin-bottom: 3em;
  width: auto;
  text-align: center;

  .quote2{
    color: #b5b3b4;
    font-style: italic;
  }
}

@keyframes quoteFade {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .quote{
    font-size: 2.5em;
  }

  
}

@media only screen and (max-width: 580px) {
  .quote-body{
    margin-bottom: 5em;
  }

  .quote{
    font-size: 1.75em;
  }

  q{
    font-size: .7em;
  }

  .quote-name{
    font-size: .95em;
  }
}